/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  --color-darker: rgb(48, 48, 48);
  --color-dark: rgb(64, 64, 64);
  --color-light: rgb(194, 194, 194);
  --color-lighter: rgb(255, 255, 255);
  --displayFont: "EB Garamond";
  --bodyFont: "Lato", sans-serif;

  /* you could add an accent color for CTAs and anchor tags ;-) */
}

/* Fonts */
h1,
h2,
h3 {
  color: var(--color-darker);
  font-family: var(--displayFont);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

p {
  color: var(--color-dark);
  font-family: var(--bodyFont);
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 0rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-lighter);
  margin-top: 0.2rem;
  border-radius: 5px;
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-dark);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  color: var(--color-lighter);
}

.header_text p {
  color: var(--color-light);
}

.header_graphics {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  background-color: var(--color-darker);
  border-radius: 5px;
}

/* Sections */
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-light);
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-dark);
  border-radius: 5px;
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
  margin: 0 12rem;
}
#cards > h2,
#cards > p {
  padding-left: 1vw;
}
.card_image {
  width: 100%;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.251);
  transition: 0.2s;
}
#card_container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-gap: 4rem;
  column-gap: 1rem;
}
.card_slogan {
  margin-top: 1vw;
  font-style: italic;
}
.card {
  display: flex;
  flex-flow: column wrap;
  padding: 1vw;
}
.card h3 {
  flex-wrap: nowrap;
}
.grey_background {
  background-color: grey;
  width: 100%;
}
#actions {
  display: flex;
  width: 100%;
  padding-top: 1rem;
}
.card_button_positive,
.card_button_negative {
  width: 7em;
  height: 2em;
  align-items: center;
  border: none;
  border-radius: 3px;
}
.card_button_positive:hover,
.card_button_negative:hover {
  scale: 1.1;
  cursor: pointer;
}
.card_button_positive {
  background-color: #363636;
  margin-left: 0.4rem;
  color: white;
}
.card_button_negative {
  background-color: #dcdcdc;
}
#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
}

.info_text {
  width: 60vw;
  min-width: 300px;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
  color: var(--color-lighter);
}

footer a {
  color: var(--color-light);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}
