* {
  margin: 0px;
  padding: 0px;
}

:root {
  --font-display: serif;
  --font-paragraph: sans-serif;
  font-size: 0.9rem;
  line-height: 1.9rem;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

p {
  font-family: var(--font-paragraph);
  font-size: 0.8rem;
  line-height: 1.5rem;
}

p .small {
  font-size: 0.6rem;
}

header {
  padding: 2rem;
}

section {
  padding: 0px 2rem;
}

.one_two_grid {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 2fr;
}

.one_one_one_grid {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.inline {
  display: inline;
}

.display {
  font-family: var(--font-display);
}

.paragraph {
  font-family: var(--font-paragraph);
}

.small_space {
  height: 2rem;
}

.space {
  height: 4rem;
}
